html {
    scroll-behavior: smooth;
}

body {
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    color: #444;
}

.wrap {
    overflow-x: hidden;
}

:root {
    --white: #fff;
    --blue: #0281CC;
    --yellow: #FFF44B;
    --dark-blue: #0264CC;
    --light-blue: #5AA6D3;
    --red: #FFCCCC;
    --gold: #C7B476;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

a {
    color: #444;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.inner {
    margin-bottom: 100px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

#course,
#flow,
#faq {
    scroll-margin-top: 100px;
}

/* セクションタイトル */
.heading {
    width: 100%;
    margin: 50px auto;

    h2 {
        color: var(--white);
        font-size: 45px;
        text-align: center;

        span {
            background-color: var(--blue);
            padding: 8px;
            border-radius: 3px;
            margin: 0 -5px;
        }

        .yellow {
            color: var(--blue);
            background-color: var(--yellow);
        }
    }

    .space-bottom {
        margin-bottom: 10px;
    }

    p {
        text-align: center;
    }
}

p {
    line-height: 1.5em;
}

@media (hover: hover) and (pointer: fine) {
    .header-cta:hover {
        opacity: 0.8;
    }

    .first-view-content > a:hover {
        opacity: 0.8;
    }
}



/* ---------------------------------------------------
PC
--------------------------------------------------- */


/* -----------------------------------------ヘッダー */
.header-wrapper {
    width: 100%;
    position: fixed;
    z-index: 98;
    background-color: var(--white);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    max-width: 1280px;
    margin: 0 auto;

    /* トップロゴ */
    > a {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            width: 44px;
        }

        h1 {
            color: var(--yellow);
            font-size: 24px;
            font-weight: 600;

            span {
                background-color: var(--blue);
                padding: 8px;
                border-radius: 3px;
            }
        }
    }
}

/* PCナビ */
.nav-container {
    display: flex;
    /* gap: 30px; */
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 30px;

    .nav-item {
        font-weight: 600;
        position: relative;

        &::after {
            position: absolute;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: var(--blue);
            bottom: -15px; /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }

        &:hover::after {
            visibility: visible;
            bottom: -4px;
            opacity: 1;
        }
    }
}

/* ヘッダーCTA */
.header-cta {
    display: flex;
    gap: 10px;
    align-items: center;
    background: linear-gradient(#0281CC 0%, #02639C 100%);
    width: fit-content;
    margin-left: 30px;
    padding: 15px 30px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    transition: all .3s;

    p {
        color: var(--yellow);
        font-size: 21px;
        font-weight: 600;
    }
}

.cta-arrow {
    width: 30px;
    min-width: 30px;
}

.header-cta::before {
    position: absolute;
    content: "";
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: skewX(-30deg);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    animation: shine .4s;
}

.header-cta:hover::before {
    animation: shine .4s linear;
}

@keyframes shine {
    100% {
        left: 100%;
    }
}

.arrow-back {
    display: none;
}

.menu-close {
    display: none;
}

.navigation {
    display: none;
}




/* -----------------------------------------ファーストビュー */
.first-view {
    background-image: url(/images/first-view/fv-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    margin-top: 90px;
    height: 850px;
}

.first-view-wrapper {
    height: 100%;
}

.first-view-inner {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.first-view-content {
    position: absolute;
    top: 40%;
    left: 0%;
    margin-left: 15px;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);

    h2 {
        font-size: 60px;
        margin-bottom: 30px;
    }

    > p {
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    a {
        display: flex;
        align-items: center;
        background: linear-gradient(#0281CC 0%, #02639C 100%);
        width: fit-content;
        padding: 15px 30px;
        border-radius: 3px;
        position: relative;
        font-weight: 600;
        letter-spacing: 0.03em;
        transition: all .3s;

        p {
            color: var(--white);
        }

        strong {
            color: var(--yellow);
            font-size: 21px;
            margin-right: 10px;
        }
    }
}



/* -----------------------------------------日進学院について */

.about-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;

    p {
        line-height: 1.8em;
    }
}

.about-mission {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    h4 {
        font-size: 21px;
    }
}

.mission {
    color: var(--gold);

    h3 {
        font-size: 21px;
    }
}


/* -----------------------------------------日進学院の強み */
.feature-container {
    display: flex;
    gap: 50px;
}

.feature-content {

    p {
        border: 2px solid var(--blue);
        width: 90%;
        margin: -25px auto 0;
        padding: 10px;
        background-color: var(--white);
        position: relative;
        z-index: 20;
    }
}

.feature-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    margin: 0 auto 30px;
    padding: 0 20px;
    background-color: #0281cc;
    border-radius: 3px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        border-style: solid;
        border-width: 18px 10px 0 10px;
        border-color: var(--blue) transparent transparent;
        translate: -50% 100%;
    }

    img {
        width: 43px;
        min-width: 43px;
    }

    h3 {
        color: var(--white);
        font-size: 24px;
    }
}



/* -----------------------------------------コース紹介 */
.course-content {
    display: flex;
    gap: 20px;
    padding: 30px;

    h3 {
        font-size: 21px;
        margin-bottom: 5px;
    }
}

/* 中学受験コース */
.junior {
    border: 2px solid #58C1FF;
    margin-bottom: 20px;

    h3 {
        color: #58C1FF;
    }
}

/* 高校受験コース */
.highschool {
    border: 2px solid #4A7CD9;
    margin-bottom: 20px;

    h3 {
        color: #4A7CD9;
    }
}

/* 大学受験コース */
.university {
    border: 2px solid #4959E6;

    h3 {
        color: #4959E6;
    }
}

.course-group {
    width: 47%;
}

.course-img {
    display: flex;

    img {
        width: 173px;
        object-fit: contain;
    }
}



/* -----------------------------------------申込みの流れ */
.flow-container {

    img {
        margin: 0 auto 10px;
    }
}

.flow-content {
    display: flex;
    gap: 30px;
    padding: 20px 80px;
    border: 1px solid var(--blue);
    border-radius: 3px;
}

.flow-title {
    display: flex;
    gap: 30px;
    align-items: center;
    color: var(--blue);
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
}


/* -----------------------------------------講師紹介 */
.instructor-content {
    display: flex;
    background-color: var(--blue);
    margin-bottom: 30px;
    padding: 30px 50px 60px;
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
}

.instructor-img-name {
    position: relative;
    width: 50%;

    p {
        padding: 10px 30px;
        background-color: var(--dark-blue);
        width: fit-content;
        border-radius: 3px;
        position: absolute;
        bottom: -30px;
        right: 50px;
    }

    img {
        width: 80%;
    }
}

.instructor-profile {
    width: 60%;

    > p {
        border-left: 8px solid var(--white);
        margin-bottom: 30px;
        padding-left: 25px;
    }
}

.charge-school {
    display: flex;
    gap: 10px;

    p {
        background-color: var(--light-blue);
        padding: 10px;
        border-radius: 3px;
    }
}


/* -----------------------------------------生徒の声 */
.voice-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 22px;
}

.voice-content {
    width: 31%;

    img {
        width: 100%;
    }
}

.voice-comment {
    padding: 15px;

    h3 {
        font-size: 24px;
        text-align: center;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 100%;
    }

    .men {
        background-color: #CCECFF;
    }

    .woman {
        background-color: #FFCCCC;
    }
}



/* -----------------------------------------よくある質問 */
.faq-content {
    margin-bottom: 30px;
}

.question,
.answer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.question {
    margin-bottom: 10px;
}

.q,
.a {
    font-size: 30px;
    font-weight: 600;
    border-radius: 3px;
    padding: 0 10px;
}

.q {
    color: var(--white);
    background-color: var(--blue);
}

.a {
    color: var(--blue);
    background-color: var(--yellow);
}

.q-text {
    color: var(--blue);
    font-size: 21px;
    font-weight: 600;
}


/* -----------------------------------------会社概要 */
.company-container {
    display: flex;
    gap: 50px;
}

.company-content {
    text-align: left;
    border-collapse: collapse;

    tr {
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;

        th {
            width: 128px;
            font-weight: 400;
        }

        th,
        td {
            padding: 20px 0;
        }
    }
}


/* -----------------------------------------フッター */
.footer {
    background-color: #444;
    padding-top: 50px;
}

.footer-nav {
    margin-bottom: 30px;

    ul {
        display: flex;
        justify-content: center;
        gap: 30px;

        li {

            a {
                color: var(--white);
                font-weight: 600;
            }
        }
    }
}

.footer-sns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;
}

.copyright {
    color: var(--white);
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}

















/* ヘッダーメニューの切り替え */
@media screen and (max-width: 1080px) {

    .header-inner > a {
        margin-left: 15px;
    }

    .header-nav,
    .header-cta {
        display: none;
    }

    .hamburger {
        display: block;
    }



    /* ハンバーガーメニュー */
    .hamburger {
        width: 50px;
        position: fixed;
        top: 30px;

        right: 15px;
        z-index: 99;
        transition-duration: .5s;

        span {
            width: 100%;
            height: 2px;
            background-color: #444;
            position: relative;
            transition: ease .4s;
            display: block;
        }

        .menu-close {
            display: none;
        }
    }

    .hamburger span:nth-child(1) {
        top: 0;
    }

    .hamburger span:nth-child(2) {
        margin: 10px auto;
    }

    .hamburger span:nth-child(3) {
        top: 0;
    }

    /* ハンバーガーメニュークリック後のスタイル */
    .hamburger.active {
        top: 20px;
    }

    .hamburger.active img {
        display: block;
        width: 30px;
        margin: 0 auto;
    }

    .hamburger.active .menu-close {
        display: block;
        color: var(--blue);
        text-align: center;
    }

    .hamburger.active span:nth-child(1) {
        display: none;
    }

    .hamburger.active span:nth-child(2) {
        display: none;
    }

    .hamburger.active span:nth-child(3) {
        display: none;
    }

    /* ハンバーガーメニュークリック後のスタイル */
    .nav-sp.active {
        transform: translate(0);
    }


    /* ナビゲーションメニュー展開 */
    .navigation {
        display: block;
    }

    .navigation-container {
        position: fixed;
        right: 0;
        display: block;
        background-color: var(--white);
        padding-top: 20px;
        width: 100%;
        height: 100vh;
        z-index: 90;
    }

    /* アニメーション前のメニューの状態 */
    .navigation-container{
        pointer-events: none;
        opacity: 0;
        transform-origin: top left;
        transform: rotateZ(-90deg);
        transition: all .3s ease;
    }

    /* アニメーション後のメニューの状態 */
    .navigation-container.active{
        pointer-events: auto;
        opacity: 1;
        transform: rotateZ(0deg);
    }

    .nav-list-sp {
        font-weight: 600;
        text-align: center;

        .nav-item {
            width: 100%;
            margin: 0 auto 30px;

            a {
                font-size: 18px;
                transition-duration: .4s;
                position: relative;

                &::after {
                    position: absolute;
                    left: 0;
                    content: '';
                    background-color: #444;
                    width: 100%;
                    height: 2px;
                    bottom: -10px;
                    transform: scale(0, 1);
                    transform-origin: center top;
                    transition: transform 0.3s;
                }

                &:hover::after {
                    transform: scale(1, 1);
                }
            }
        }
    }

    /* ソーシャルメディアリンク */
    .nav-sns {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 15px;
    }


}



























/* ---------------------------------------------------
SP
--------------------------------------------------- */
@media screen and (max-width: 767px) {
    .inner {
        margin-bottom: 50px;
        padding: 0 15px;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }



    /* ヘッダー */
    .header-inner {

        /* トップロゴ */
        > a {

            img {
                width: 34px;
            }

            h1 {
                font-size: 18px;
            }
        }
    }


    /* セクションタイトル */
    .heading {
        margin: 0 auto 30px;

        h2 {
            font-size: 21px;
            line-height: 1em;

            span{
                display: inline-block;
                margin: 2px -1px;
            }
        }
    }



    /* -----------------------------------------ファーストビュー */
    .first-view {
        background-image: url(/images/first-view/fv-back-sp.jpg);
        background-size: cover;
        background-position: 70% 50%;
        height: 632px;
        margin-bottom: 50px;
    }

    .first-view-content {
        top: 90%;
        left: 15px;
        transform: translateY(-90%);
        -webkit-transform: translateY(-90%);
        -ms-transform: translateY(-90%);
        margin-left: 0;

        h2 {
            font-size: 30px;
            margin-bottom: 10px;
        }

        > p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        a {

            strong {
                font-size: 16px;
                margin-right: 10px;
            }
        }
    }



    /* -----------------------------------------日進学院について */
    .about-content {
        flex-direction: column;
        gap: 10px;
    }

    .about-mission {
        flex-direction: column;
        gap: 10px;

        h4 {
            font-size: 18px;
        }
    }

    .mission {
        text-align: center;

        h3 {
            font-size: 21px;
        }
    }



    /* -----------------------------------------日進学院の強み */
    .feature-container {
        flex-direction: column;
    }

    .feature-content > img {
        width: 100%;
    }

    .feature-title {

        h3 {
            font-size: 21px;
        }
    }


    /* -----------------------------------------コース紹介 */
    .course-content {
        flex-direction: column;
        padding: 15px;
    }

    .course-group {
        width: 100%;
    }

    .course-img {
        width: 100%;

        img {
            width: 33%;
        }
    }



    /* -----------------------------------------申込みの流れ */
    .flow-content {
        flex-direction: column;
        padding: 15px;
    }

    .flow-title {
        font-size: 18px;
    }



    /* -----------------------------------------講師紹介 */
    .instructor-content {
        flex-direction: column;
        padding: 15px;
        font-size: 16px;
    }

    .instructor-img-name {
        position: relative;
        width: 100%;
        margin-bottom: 50px;

        p {
            padding: 10px 15px;
            bottom: -25px;
            right: -15px;
        }

        img {
            width: 100%;
        }
    }

    .instructor-profile {
        width: 100%;
    }

    .charge-school p {
        padding: 5px 10px;
    }



    /* -----------------------------------------生徒の声 */
    .voice-container {
        flex-direction: column;
        flex-wrap: no-wrap;
        gap: 30px 22px;
    }

    .voice-content {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .voice-comment {
        padding: 15px;

        h3 {
            font-size: 24px;
            text-align: center;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 100%;
        }

        .men {
            background-color: #CCECFF;
        }

        .woman {
            background-color: #FFCCCC;
        }
    }



    /* -----------------------------------------よくある質問 */
    .q,
    .a {
        font-size: 21px;
        padding: 5px 10px;
    }

    .q-text {
        font-size: 16px;
    }



    /* -----------------------------------------会社概要 */
    .company-container {
        flex-direction: column;
        gap: 30px;
    }

    .company-content {
        text-align: left;
        border-collapse: collapse;

        tr {
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #DDD;

            th {
                width: 128px;
                font-weight: 400;
            }

            th,
            td {
                padding: 20px 0;
            }
        }
    }



    /* -----------------------------------------フッター */
    .footer-nav {

        ul {
            flex-direction: column;
            gap: 10px;
            text-align: center;

            li {
                a {
                    transition-duration: .5s;

                    &:hover {
                        color: var(--yellow);
                    }
                }
            }
        }
    }

























}